<h1>Scripts</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @scripts.each do |script| %>
      <tr>
        <td><%= link_to script.title, script %></td>
        <td><%= script.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>