
.groups_container {
	width: 50%;
	float: left;
}

.groups_container h1 {
	text-align: center;
}

.group_row {
	width: 100%;
	height: 160px;
}

.group {
	text-align: center;
	width: 150px;
	height: 100%;
	float: left;
	padding: 10px;
}