
.groups_container {
	text-align: center;
	display: none;
}

.groups_container h1 {
	text-align: center;
}

.group_row {
	width: 100%;
	overflow: overlay;
}

.group {
	text-align: center;
	width: 22%;
	float: left;
	padding: 1%;
}

.groups_index_container {
	text-align: center;
}

.group_show {
	text-align: center;
}

.group_options {
	text-align: center;
	font-size: 20px;
}