.nav_bar_container {
	text-align: center;
	/*background-color: #F1F1D4;*/
	width: 100%;
	font-family: 'Special Elite', cursive;

}

.nav_bar_container a {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

.site_name {
	text-align: center;
	font-family: 'Rock Salt', cursive;
	font-size: 35px;
	padding:10px;
}