// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scripts_container {
	width: 50%;
	float: left;
	height: 100%;
}

.scripts_container h1 {
	text-align: center;
}

.script_row {
	width: 100%;
	height: 200px;
}

.script {
	text-align: center;
	width: 31%;
	height: 100%;
	float: left;
	padding: 1%;
}

.scripts_container {
	text-align: center;
}