// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scripts_container {

}

.scripts_container h1 {
	text-align: center;
}

.script_row {
	width: 100%;
	overflow: overlay;
}

.script {
	text-align: center;
	width: 22%;
	float: left;
	padding: 1%;
}

.scripts_container {
	text-align: center;
}