// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scripts_container {

}


.scripts_container {
	text-align: center;
}

.scripts_container h1 {
	text-align: center;
}

.script_row {
	width: 100%;
	overflow: overlay;
}

.script {
	text-align: center;
	width: 22%;
	float: left;
	padding: 1%;
}

/* script/show */

.script_container {
	text-align: center;
}

.script_frame {
	height: 800px;
	width: 625px;
}

.script_comments_container {
	text-align: center;
	width: 625px;
	margin-left: auto;
	margin-right: auto;
}

.script_comment {
	overflow: overlay;
}

.comment_info {
	width: 30%;
	float: left;
	text-align: center;
}

.comment_content {
	width: 70%;
	float: left;
	text-align: left;
}