// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_show {
	padding-top: 20px;
	text-align: center;
}

.members_container {
	height: 100%;
	width: 50%;
	float: left;
}

.members_container h1 {
	text-align: center;
}

.member_row {
	width: 100%;
	height: 160px;
}

.member {
	text-align: center;
	width: 150px;
	height: 100%;
	float: left;
	padding: 10px;
}

.menu {
	text-align: center;
}