<footer class="footer_container">
	<span class="footer_element">Josh Ullman (2017)</span>
	<span class="footer_element"><%= link_to image_tag("github_icon.svg"), "https://github.com/joshullman/collabowrite", class: "github_icon" %></span>
</footer>