<div class="group_bar">
	<span class="comments_button nav_button"><h1>Comments</h1></span>
	<span class="scripts_button nav_button"><h1>Scripts</h1></span>
	<span class="members_button nav_button"><h1>Members</h1></span>
</div>