<div class="group_bar">
	<span class="scripts_button nav_button">Scripts</span>
	<span class="comments_button nav_button">Comments</span>
	<span class="members_button nav_button">Members</span>
</div>